// Add your custom CSS here.
.product-card__buy.fade {
    opacity: 1 !important;
    @media(min-width: 576px) {
        display: flex;
    }
}
.search-engine__aside .filters-title{
    font-size:31px;
    font-weight:bold;
    position:relative;
    display:block;
    width:100%;
    text-transform:uppercase;
    color:#000;
    margin-bottom:2rem;
    padding-bottom:.5rem;
}
.search-engine__aside .filters-title:after{
    content: "";
    width: 100vw;
    height: 3px;
    background: var(--cor1);
    position: absolute;
    bottom: 0;
    right: 0;
}
body .search-engine__aside .search-engine__filter > button{font-size:16px;font-weight:bold;text-transform:uppercase;color:#000;}
body .search-engine__aside{
    position:relative;
    width:100%;
    height:auto;
    z-index:1;
    border:0;
}
body .search-engine__aside .search-engine__filter>button{
    padding-left:0;padding-right:0;
    text-align:left;
}
body .search-engine__aside .search-engine__filter > button > i{
    float:right;
    margin: 5px 10px;
    font-size: 12px;
    color: #8a0403;
    opacity: 1;
}
// body .search-engine__aside .search-engine__filter > button > i{display:none!important;}
body .search-engine__aside .search-engine__filter > button + .collapse{
    // display:block!important;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem;
}

body .search-engine__aside .custom-checkbox{padding:0}

@media(min-width:990px){
    body .search-engine__info,
    body .search-engine__aside .card-header,
    body .search-engine__aside .card-footer{display:none;}
    body .search-engine__aside{
        position: absolute;
        padding: 0 1rem;
        top: 0;
        left: 0;
    }
    body .search-engine__aside .card-body{padding:0;}
    // body .search-engine__aside .card-body,
    // .page--categories .search-engine__retail{
    //     padding: 0px;
    //     border: 0px;
    //     max-height: calc(100vh - 280px);
    // }
    .search-engine__aside-open{display:none;}

    // body .search-engine__aside{
    //     position: sticky;
    //     top: 175px;
    // }
}
@media(max-width:990px){
    body .search-engine__aside{
        position: fixed;
        width: 280px;
        max-width: 100%;
        height: 100%;
        top: 0;
        z-index: 1100;
        border-radius: 0;
        transition:right .3s;
    }
    body .search-engine__aside.active{right:0;}
    body .search-engine__aside .filters-title{display:none}

    body .search-engine__aside.active + #custom-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: var(--dark);
        width: 100%;
        height: 100%;
        opacity: .4;
        cursor: pointer;
    }
    .product-item .product-card{padding:0;margin-bottom:45px;padding:10px; border:1px solid #f2f2f2}
    .product-item .product-card__pictures{}
    .product-item .product-card__pictures,
    .product-item .product-card__pictures img{max-height:150px;}
    .product-item .product-card__prices{flex-direction:column;gap:0}
    .product-item .product-card__name{font-size:14px;}
    .product-item .product-card__buy button{
        width:100%;
        padding:0 15px;
    }
    .search-engine__selected{display:none;}
    .category-retail .search-engine__info{margin:0 -15px}
}
@media(max-width: 576px) {
    .products-carousel__item .quantity-selector__item {
        justify-content: center;
    }
}

.quantity-selector__item {
    .i-chevron-up {
        &::before {
            content: '+';
        } 
        font-size: 20px !important;
    }
    .i-chevron-down {
        &::before {
            content: '-'
        }
        font-size: 20px !important;
    }
    margin-bottom: unset !important;
}

.shipping-calculator__services {
    .list-group-item.list-group-item-action.active * {
        color: var(--primary) !important
    }
}
@media(max-width: 576px) {
    .search-engine__aside .card-body {
        padding: 2.25rem !important;
    }
}
.search__box.card {
    .col-md-2.col-12 {
        display: none;
    }
    .offset-md-1 {
        margin-left: 0 !important;
    }
    .col-md-9.col-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
.product-card--small {
    .quantity-selector {
        display: none;
    }
}
.product__favorite, .share-network-whatsapp {
    span {
        color: #000;
    }
}
.product__buy {
    div > span {
        display: flex;
        flex-direction: column;
    }

    #addCart {
        margin-bottom: 5px;
    }
}

.header__toggler {
    display: block !important;
}
.breadcrumb * {
    color: #000 !important;
}
.product-card .product-card__buy{
    opacity: 1!important;
    position: relative;
    top: auto;
    margin: 0;
    bottom: auto;
    display: block;
    left: auto;
    transform: unset;
    background: transparent!important;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .qtde-adicionar-carrinho{
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #f4f4f4;
    line-height: 36px!important;
    border-radius: 36px!important;
    width: auto!important;
    padding: 0 10px;
  }
  
  .qtde-adicionar-carrinho > input{
    -moz-appearance:textfield; /* Firefox */
    height: 36px;
    padding: 0;
    width:40px;
    border: 0!important;
    text-align:center
  }
  .qtde-adicionar-carrinho > button{
    border: 0;
    padding: 0;
    background: transparent;
  }
  .qtde-adicionar-carrinho > button > svg{
    height: 16px;
    margin: 0;
    display: block;
    width: 16px;
  }
  
  .qtde-adicionar-carrinho > input::-webkit-outer-spin-button,
  .qtde-adicionar-carrinho > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .search-engine__aside .search-engine__filter > button + .collapse {
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
  }
  .search-engine__aside {
    .card-body {
        display: flex;
        flex-direction: column;
        .search-engine__filter--Brands {
            order: 1;
        }
    }
    .card-footer {
        background-color: #fff !important;
    }
  }
  @media (max-width: 990px) {
    .product-card .product-card__buy > * {
        justify-content: space-between;
        width: 100% !important;
    }
    .product-card__buy .btn-primary {
        height: auto;
        min-width: unset;
        padding: 8px 18px;
        width: auto;
    }
    .product-card .product-card__buy {
        flex-direction: column;
    }
    .banners-grid .col-12 {
        max-width: 50% !important;
    }
  }
  #search-engine + nav {
    justify-content: flex-end;
  }
  #instant-search .search-engine__aside.card.shadow {
    display: none !important;
  }
  body .custom-checkbox .custom-control-label::before {
    border: 1px solid #000;
    border-radius: 0;
    display: inline-block;
    height: 10px;
    left: auto;
    margin: -2px 10px 0 0;
    position: relative;
    top: auto;
    vertical-align: middle;
    width: 10px;
  }
  .search-engine__aside.card.shadow .card-footer {
    display: flex !important;
  }
  body .row .col-md-3.col-12 .search-engine__aside {
    position: relative !important;
  }